@model memberSite.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <img src="http://www.gravatar.com/avatar/@Html.DisplayFor(model =>model.userDetail.EmailHash)?d=mm" />
        </dt>

        
        <dt>
            @Html.DisplayNameFor(model => model.userDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userDetail.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.userDetail.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userDetail.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentText)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
