@model PagedList.IPagedList<memberSite.Models.Comment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Community</h2>
<h2>@ViewBag.Message</h2>

<form method="get" class="searchForm">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search" class="btn btn-info" />
</form>
<hr /><p>
    @Html.ActionLink("Create New", "Create", null, new
{
    @class = "btn btn-default"
})
</p>
<section class="row">

    @foreach (var item in Model)
    {

        <article class="col-sm-4 col-md-3 commentCard">

            <img src="http://www.gravatar.com/avatar/@Html.DisplayFor(modelItem =>item.userDetail.EmailHash)?d=mm" />

            <h4>
                @Html.DisplayFor(modelItem => item.userDetail.FirstName)  @Html.DisplayFor(modelItem => item.userDetail.LastName)
            </h4>
            <h5>@Html.DisplayFor(modelItem => item.Subject)</h5>
            <p>@Html.DisplayFor(modelItem => item.Date)</p>
            <p>@Html.DisplayFor(modelItem => item.CommentText)</p>

            <div role="navigation" class="eddLinks">
                @Html.ActionLink("Edit", "Edit", new
               {
                   id = item.ID
               })
                @Html.ActionLink("Delete", "Delete", new
               {
                   id = item.ID
               })
            </div>
        </article>
    }
</section>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))