@model PagedList.IPagedList<memberSite.Models.UserDetails>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>@ViewBag.Message</h2>
<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
</form>

@foreach (var item in Model)
{
    <div class="indexList">
        <img src="http://www.gravatar.com/avatar/@Html.DisplayFor(modelItem =>item.EmailHash)?d=mm" />
        <ul>
            <li>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</li>
            <li>@Html.DisplayFor(modelItem => item.Email)</li>
            <li>@Html.DisplayFor(modelItem => item.GitHubURL)</li>
            <li>@Html.DisplayFor(modelItem => item.AboutTrimmed)</li>
        </ul>
        <div class="badges">

            @if (item.FrontEnd == true)
                {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.PHP == true)
                {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.DotNet == true)
                {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.RubyOnRails == true)
                {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.iOS == true)
                {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.Android == true)
                {
                <img src="~/images/Hydrangeas.jpg" />
            }
        </div>
        <div role="navigation" class="eddLinks">
            @Html.ActionLink("Edit", "Edit", new
           {
               id = item.ID
           }) |
            @Html.ActionLink("Details", "Details", new
           {
               id = item.ID
           }) |
            @Html.ActionLink("Delete", "Delete", new
           {
               id = item.ID
           })
        </div>
    </div>
}

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))