@model memberSite.Models.JobPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job Post</h4>
    <hr />
    
    <h4>
        @Html.DisplayFor(model => model.Title)
    </h4><h5>
    @Html.DisplayFor(model => model.Company)
</h5>
        <p>
            @Html.DisplayFor(model => model.Date)
        </p>

        <p class="postBody">
            @Html.DisplayFor(model => model.PostBody)
        </p>

  
</div>
<p role="navigation" class="eddLinks">
   
    @Html.ActionLink("Back to List", "Index", null, new
{ @class="btn btn-default"
}) 
    @Html.ActionLink("Edit", "Edit", new
                                         {
                                             id = Model.ID
                                         })
    
</p>
