@model PagedList.IPagedList<memberSite.Models.JobPost>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Job Posts</h2>
<h2>@ViewBag.Message</h2>

<form method="get" class="searchForm">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search" class="btn btn-info" />
</form>
<hr />
<p>
    @Html.ActionLink("Create New", "Create", null, new
{
    @class = "btn btn-default"
})
</p>

<section class="row">
    @foreach (var item in Model)
    {
        <article class="itemWrapper row">

            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>

            <h4>@Html.DisplayFor(modelItem => item.Company) </h4> <h5>@Html.DisplayFor(modelItem => item.Date)</h5>
            @*<p> @Html.DisplayFor(modelItem => item.PostBody)</p>*@
            <div role="navigation" class="eddLinks">

                @Html.ActionLink("Details", "Details", new
           {
               id = item.ID
           }, new
           {
               @class = "btn btn-info"
           })
                @Html.ActionLink("Delete", "Delete", new
           {
               id = item.ID
           }) @Html.ActionLink("Edit", "Edit", new
         {
             id = item.ID
         })
    </div><hr />
</article>
    }
</section>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))