@model memberSite.Models.UserDetails
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member Profile</h4>
    <hr />
    <img src="http://www.gravatar.com/avatar/@Html.DisplayFor(model =>model.EmailHash)?d=mm&s=180" />

    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.RegisteredUserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GitHubURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GitHubURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkedinURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkedinURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About, new
       {
           @class = "postBody"
       })
        </dd>
    </dl>
    <div class="badges">

        @if (Model.FrontEnd == true)
            {

            <img src="@Url.Content("~/images/Badges/Badge_fe.png")" alt="Legacy Front end Badge" />
        }
        @if (Model.MeanJS == true)
            {

            <img src="@Url.Content("~/images/Badges/Badge_js.png")" alt="Full Stack Javascript Badge" />
        }
        @if (Model.PHP == true)
            {
            <img src="@Url.Content("~/images/Badges/Badge_php.png")" alt="PHP Badge" />
        }
        @if (Model.DotNet == true)
            {

            <img src="@Url.Content("~/images/Badges/Badge_net.png")" alt="Dot Net Badge" />
        }
        @if (Model.RubyOnRails == true)
            {

            <img src="@Url.Content("~/images/Badges/Badge_ruby.png")" alt="Ruby Badge" />
        }
        @if (Model.iOS == true)
            {

            <img src="@Url.Content("~/images/Badges/Badge_ios.png")" alt="iOS Badge" />
        }
        @if (Model.Android == true)
            {

            <img src="@Url.Content("~/images/Badges/Badge_android.png")" alt="Android Badge" />
        }
        @if (Model.Mentor == true)
            {

            <img src="@Url.Content("~/images/Badges/Badge_mentor.png")" alt="Mentor Badge" />
        }
    </div>
</div>
<div class="eddLinks">

    @Html.ActionLink("Back to List", "Index", null, new
{
    @class = "btn btn-info"
})
</div>