@model PagedList.IPagedList<memberSite.Models.UserDetails>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="get">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />

</form>
<div>
    <a href="@Url.Action("Index", new { trackFilter = "FrontEnd" })"><img src="~/images/Hydrangeas.jpg" /></a> 
    
    
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().RegisteredUserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().WebsiteURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GitHubURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LinkedinURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EmailHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().About)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FrontEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DotNet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().RubyOnRails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().iOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Android)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredUserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GitHubURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkedinURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutTrimmed)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrontEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DotNet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RubyOnRails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Android)
        </td>
        <td>
            @if (item.FrontEnd == true)
            {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.PHP == true)
            {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.DotNet == true)
            {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.RubyOnRails == true)
            {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.iOS == true)
            {
                <img src="~/images/Hydrangeas.jpg" />
            }
            @if (item.Android == true)
            {
                <img src="~/images/Hydrangeas.jpg" />
            }
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page,
        sortOrder = ViewBag.CurrentSort,
        currentFilter = ViewBag.CurrentFilter
    }))